<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
 <% include ../partials/about_jumbotron %>

 <% include ../partials/sidebar %>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>